body {
    background-color: cornsilk;
    padding:0;
    margin:0;
    display: flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;

}


.container {
    width: 800px;
    max-width: 80%;
    background-color: bisque;
    border-radius: 5px;
    padding: 10px;
    box-shadow:0 0 10px 2px;

}
#question {
    border: 10px;
    border-style: inset;
}

.btn{
    justify-items: left;
    background-color: snow
}

.btn:hover {
    border-color: black;
}

.hide {
    display: none;
}

